<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Welcome email from reward your teacher</title>
  </head>
  <body>
    <p>Dear {{name}}</p>
    <h1>Welcome to reward your teacher</h1>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam
      corrupti, sit soluta vel, expedita voluptate cupiditate quae ipsa
      asperiores repellat molestias? Placeat recusandae sit illo! Ratione quam
      vel autem ab!
    </p>

    <p>{{email}}</p>
  </body>
</html>